body {
    background-color: #f4f4f4;
}
.signup-container {
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    background-color: #afcdef5f;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.user-input {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
}
.field-icon {
    float: right;
    margin-right: 8px;
    margin-top: -47px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.signup-btn {
    border: 2px solid black;
    margin: 0px auto;
    display: block;
    background-color: aliceblue;
    width: 50%;
    margin-top: 20px;
    border-radius: 20px; /* Smoother button edges for all buttons */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover */
}
.signup-btn:disabled {
    background-color: #ccc; /* Grey out the button when disabled */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
}
.signup-btn:hover {
    transform: scale(1.05); /* Slight scale up on hover */
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Brighter shadow */
}
.password-checklist spam{
    display: block;
    padding-left: 15px;
    margin-bottom: 5px;
}
.password-checklist i {
    margin-right: 15px;
}
